* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #000;
}
.head {
  text-align: center;
  color: white;
  margin-bottom: 5rem;
}
.form-1 {
  width: 90%;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 3rem;
  border-radius: 50px;
}

.form-1 .btn {
  width: max-content;
  margin: 0 auto;
  padding: 0.5rem 0.8rem;
  background: white;
}
